body {
	background: darkturquoise;
	color: whitesmoke;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	display: block;
}

.nav {
	height: 100%;
	min-height: 60px;
	display: flex;
/*	flex-direction: raw;*/
}

.fsrch {
	margin-top: 20px;
	float: right;
}

.lft_link {	
	position: absolute;
	top: 30px;
	left: 30px;
}

.own_link {
	margin-left: 10px;
	padding: 10px;
	text-decoration: none;
}

.own_link:focus,
.own_link:hover {
/*	cursor: pointer;*/
	color: darkblue;
	border: thin hidden ghostwhite;
	background-color: lightgray;
	border-radius: 10px;
	opacity: 0.7;
	text-decoration: none;
}

.own_link:visited {
	color: darkgreen;
}


#upload_form {
	margin-top: 30px;
	padding: 10px;
}